*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}

body{
    background-color: rgb(207, 238, 243);
    margin: 0;
    font-size: 2rem;
}

/*CAPA*/
.capa{
    background: url(./imagens/fotom1.png) center no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: right;
    padding-top: 25rem;
    padding-right:3rem ;
    color:rgb(214, 33, 33)
}
@media(max-width: 32px){
    .capa{
        padding-top: 23rem;
    }
}

.capa_titulo{
    font-size: 4rem;
    font-family: georgia;
}
/* para deixar responsivo*/
@media(max-width:768px){
    .capa_titulo{
        font-size: 1.5rem;
        margin: 30px;
    }
}

.capa_subtitulo{
    font-size: 2.5rem;
    
}
@media (max-width: 768px){
    .capa-subtitulo{
        font-size: 1,5rem;
        margin: 20px;
        
    }
}

.botao_branco{
    border-radius: 3rem;
    background-color: white;
    font-size: 2rem;
    padding: 1rem 1rem;
    text-decoration: none;
    color: rgb(214, 33, 33);
    margin-top: 4rem;
    
}
@media(max-width:768px){
    .botao_branco{
        margin: 30px;
    }
}

/*TABLETE*/
@media(max-width:768px){
    .botao_branco{
        font-size: 1.5rem;
    }
}


/*MOBILE*/

@media(max-width:320px){
    .botao_branco{
        font-size: 1rem;
    }
}

.descricao{
    margin: 0 auto;
    display:flex;
    width: 90%;
    align-content: center;
    justify-content:space-between ;
    }

    /*TABLETE*/

    @media(max-width:768px){
        .descricao{
            flex-direction: column;
        }
    }

    .descricao_esquerda{
        width: 40%;

       }
       @media(max-width:320px){
           .descricao_esquerda{
               width: 100%;
           }

       }

       .descricao_direita{
        width: 40%;
        margin: 40px;
        padding-top: 4rem;
        font-size: 15rem;
        }
   
.sobre_mim{
    color: rgb(10, 10, 10);
    font-size: 2rem;
     margin: 30px;
}
.paragrafo1{
    font-size: 15px;
    margin: 30px;
}

@media(max-width:768px){
    .paragrafo1{
        margin: 40px;
    }
}
.paragrafo2{
    font-size: 15px;
    margin: 30px;
}

@media(max-width:768px){
    .paragrafo2{
        margin: 40px;
    }
}
.botao_cv{
    border: red solid 2px;
    border-radius: 3rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 400;
    color: red;
    margin: 30px;

}


.habilidade{
    font-size: 20px;
}
.ul{
    padding-left: 2rem;
    font-size: 3rem;
}
.li{
    line-height: 2rem;
    font-size: 5rem;
}

.rede-sociais{
    text-align: center;
    margin-top: 3rem;
    }
    
.quadrinho{
    display:inline-block;
    background-color: red;
    width: 13%;
    color: black;
    padding: 10px 10px 5px 20px;
    margin:2rem;
    border-radius: 3rem;
    font-size: 1rem;
    padding: 1rem 2rem;
}
@media(max-width:320px){
    .quadrinho{
        margin: 40px 20px;
        background-color: cornflowerblue;
        display: flex;
    }
img{
    height: 40px;
}
h5{
    margin-top: 1rem;
    padding: 1rem;
}
footer{
    color: rgb(13, 14, 13);
    font-size: 1rem;
    text-align: center;
   }
